<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/Public/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Book</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!-- CSS ============================================= -->
    <link rel="stylesheet" href="~/Content/Public/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/Public/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Public/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Public/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Public/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/Public/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Public/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/Public/css/main.css">

    <style>
        
        .ls{
            letter-spacing: 0.04em;
        }
        .text-uppercase {
            text-transform: uppercase !important;
        }
        label {
            font-size: 0.75rem;
            font-weight: 700;
            letter-spacing: 0.02em;
            display: inline-block;
        }
        .form-control {
            display: block;
            width: 100%;
            height: calc(3.05rem + 2px);
            padding: 0.8rem 0.8rem;
            font-size: 1rem;
            line-height: 1.45;
            color: #404040;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #e1e1e1;
            border-radius: 0.1875rem;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }
        input{
            overflow: visible;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            -webkit-writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: -internal-light-dark-color(black, white);
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            -webkit-appearance: textfield;
            background-color: -internal-light-dark-color(white, black);
            -webkit-rtl-ordering: logical;
            cursor: text;
            margin: 0em;
            font: 400 13.3333px Arial;
            padding: 1px 0px;
            border-width: 2px;
            border-style: inset;
            border-color: initial;
            border-image: initial;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .my-button{
            border-radius: 5px!important;
        }
        .overlay{
            z-index: 50;
            background: rgba(255,255,255,0.7);
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/Home/Home">
                        <img src="~/Content/Public/img/logo.png" alt="" title="" />Nome Sito
                    </a>
                </div>
                <nav id="nav-menu-container" style="margin-right: 0!important;">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="@Url.Action("Home","Home")">Home</a></li>
                        <li><a href="@Url.Action("P_ReadBooks","Book")">Leggi Opere</a></li>
                        <li class="menu-has-children">
                            <a href="#">Guide</a>
                            <ul>
                                <li><a href="@Url.Action("P_GuidaTEI","Home")">Guida TEI</a></li>
                                <li><a href="@Url.Action("P_GuidaFiltri","Home")">Guida Filtri</a></li>
                            </ul>
                        </li>
                        <li><a href="#about">Contesto Progetto?</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
                <nav id="nav-menu-container" style="float: right!important;">
                    <ul class="nav-menu">
                        @if(User.Identity.IsAuthenticated) {
                            <li class="menu-has-children" style="margin-left: 20px!important; float:right!important;">
                                <a href="#">Benvento @User.Identity.Name</a>
                                <ul>
                                    <li><a href="@Url.Action("P_PublicProfile","Account")">Profilo</a></li>
                                    <li><a href="@Url.Action("P_PublicChangePassword","Account")">Cambia Password</a></li>
                                    <li><a href="@Url.Action("LogOff","Account")">Logout</a></li>
                                </ul>
                            </li>
                        }
                        else {
                            <li><a href="@Url.Action("Login","Account")">Login</a></li>
                            <li><a href="@Url.Action("P_Register","Account")">Registrazione</a></li>
                            <li><a href="@Url.Action("P_ForgotPassword","Account")">Recupero Password</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header><!-- #header -->
    <!-- BODY.   -->
    @RenderBody()

    <!-- MODALS -->
    <div id="successModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-">Risultato Operazione</h5>
                </div>
                <div class="modal-body">
                    <p>Operazione Conclusa con successo!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="{$('#successModal').hide()}" class="btn btn-primary" style="background-color: #0abb87!important; border-color: #0abb87!important;">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="errorModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Risultato Operazione</h5>
                </div>
                <div class="modal-body">
                    <p>Si è verificato un errore durante l'operazione, controllare i dati inseriti e riprovare</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="{$('#errorModal').hide()}" style="background-color: #FF0000!important; border-color: #FF4500!important;">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <p class="footer-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="~/Content/Public/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Content/Public/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/Public/js/easing.min.js"></script>
    <script src="~/Content/Public/js/hoverIntent.js"></script>
    <script src="~/Content/Public/js/superfish.min.js"></script>
    <script src="~/Content/Public/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/Public/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Public/js/owl.carousel.min.js"></script>
    <script src="~/Content/Public/js/jquery.sticky.js"></script>
    <script src="~/Content/Public/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Public/js/parallax.min.js"></script>
    <script src="~/Content/Public/js/waypoints.min.js"></script>
    <script src="~/Content/Public/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Public/js/mail-script.js"></script>
    <script src="~/Content/Public/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>

    <script src="~/Scripts/my.js"></script>

    <script>

        var previousIdSelected = "";

        $(document).ready(function () {

        });

        function PublicChangePassword() {
            $('#CONTENT_PublicChangePassword_Form').validate({
                lang: 'it'
            });

            if ($('#CONTENT_PublicChangePassword_Form').valid()) {
                // hide things.
                $("#smallpass").fadeOut('slow');
                $("#nosamepass").fadeOut('slow');

                // if it is not small
                if ($("#pass2").val().length >= 6) {
                    // if are not equal.
                    if ($("#pass2").val() != $("#pass3").val()) {
                        $("#nosamepass").fadeIn('slow');
                        // exit.
                        return false;
                    }
                    else {
                        // hide nosamepass
                        $("#nosamepass").fadeOut('slow');
                    }
                }
                else { // small password.
                      $("#smallpass").show();
                      $("#smallpass").fadeIn(1000);
                    // exit.
                    return false;
                }

            // show the refresher.
            REFRESH_show("MODAL_Refresh");
            var url = '@Url.Action("ChangePassword", "Account")';
            // take the form content by id.
            var data = new FormData($('#CONTENT_PublicChangePassword_Form').get(0));

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                contentType: false,
                processData: false,
                success: function (risultato) {

                    $("#MODAL_ID").modal('toggle');
                        if (!risultato.riuscita) {
                            // set error.
                            $("#errorModal").show();
                        }
                        else {
                            //if all was ok
                            $("#successModal").show();
                        }
                    },
                    error: function () {
                        // set error.
                            $("#errorModal").show();
                    }
            });

        }
    }

        function Save() {
              // validate form.
              $('#CONTENT_Profile_Form').validate({
                  lang: 'it'
              });

              if ($('#CONTENT_Profile_Form').valid()) {
                   REFRESH_show("CONTENT_Refresh");
                   var url = '@Url.Action("SavePublic", "Account")';
                   // take the form content by id.
                   var data = new FormData($('#CONTENT_Profile_Form').get(0));

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (risultato) {
                            REFRESH_hide("CONTENT_Refresh");
                            if (risultato.riuscita) {
                                // set error.
                                $("#successModal").show();
                            }
                            else {
                                // set error.
                                $("#errorModal").show();
                            }

                        },
                        error: function () {
                            // set error.
                            $("#errorModal").show();
                        }
                    });
              }
        }

        function ShowOpera(bookId) {
            // shhow opera composition.

            // show refresher.
            REFRESH_show("CONTENT_Refresh");

            $.getJSON('@Url.Action("P_BookSections","Book")' + "?bookId=" + bookId,
                function (model) {
                    $("#container").html(model);

                    // clear childs
                    $("#subsections").html('');

                    REFRESH_hide("CONTENT_Refresh");
            });
        }

        function ShowSubsections(sectionId) {
            // shhow section composition.

            // show refresher.
            REFRESH_show("CONTENT_Refresh");

            $.getJSON('@Url.Action("P_SectionSubsections","Book")' + "?sectionId=" + sectionId,
                function (model) {
                    $("#subsections").html(model);
                    // clear childs
                    $("#pages").html('');

                    REFRESH_hide("CONTENT_Refresh");
            });
        }


        function ShowSubsectionPages(subSectionId, subSectionName) {
            // shhow subsection pages.

            // show refresher.
            REFRESH_show("CONTENT_Refresh");
            $.getJSON('@Url.Action("P_SubsectionPages","Book")' + "?subSectionId=" + subSectionId + "&page=" + "1",
                function (model) {
                    $("#pages").html(model);

                    // deselect.
                    $("#sub_" + previousIdSelected).css("background-color", "white");

                    subSectionName = subSectionName.replace(".", "\\.");

                    // select new.
                    $("#sub_" + subSectionName).css("background-color", "wheat");
                    $("#sub_" + subSectionName).css("border-radius", "0px 25px 25px 0px");

                    // reset pagination.
                    $('#pagination').empty();
                    $('#pagination').removeData("twbs-pagination");
                    $('#pagination').unbind("page");

                    // set pagination.
                    $('#pagination').twbsPagination({
                        totalPages: 35,
                        visiblePages: 3,
                        cssStyle: 'pagination',
                        onPageClick: function (event, page) {
                            REFRESH_show("CONTENT_Refresh");

                            // re-load pages.
                            $.getJSON('@Url.Action("P_SubsectionPages","Book")' + "?subSectionId=" + subSectionId + "&page=" + page,
                                function (model) {
                                    // set html.
                                    $("#pages").html(model);
                            });
                            REFRESH_hide("CONTENT_Refresh");
                        }
                    });

                    REFRESH_hide("CONTENT_Refresh");

                    // update var.
                    previousIdSelected = subSectionName;
                });

        }
    </script>
</body>
</html>




