@model Antinori.Models.AspNetUsers

<!-- Create a form  -->
@using (Html.BeginForm("Save", "Account", FormMethod.Post, new { id = "CONTENT_Account_Form" })) {
    <!-- we can set an action with this attribute: we set that the authentication token has to be the same between requests. -->
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Id,new { id="Id"})
    <!-- FIELD TO EDIT -->
    <div>
        <div class="row">
            @if(Model.Id == null || Model.Id.Length == 0) {

            }
            else {
                // edit case.
                <div class="col-md-4">
                    <small class="required">Username</small><br />
                    <input type="text" id="Username" name="Username" value="@Model.UserName" disabled class="form-control" />
                </div>
            }

            <div class="col-md-4">
                <small class="required">Nome</small><br />
                <!-- try update binds with the name attribute. -->
                <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" required />
            </div>
            <div class="col-md-4">
                <small class="required">Cognome</small><br />
                <input type="text" id="Surname" name="Surname" value="@Model.Surname" class="form-control" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <small class="required">Email</small><br />
                <input type="email" id="Email" name="Email" value="@Model.Email" class="form-control" required />
            </div>
            <div class="col-md-3">
                <small class="required"> Cellulare</small><br />
                <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
            </div>
            @if(Model.Id != null) {
                <div class="col-md-4">
                    <small class="required">Data di Registrazione</small><br />
                    @if(Model.CreationDate.HasValue) {
                        <input type="datetime" id="CreationDate" name="CreationDate" value="@Model.CreationDate.Value.ToString("yyyy-MM-ddThh:mm")" class="form-control" readonly />
                    }
                    else {
                        <input type="datetime" id="CreationDate" name="CreationDate" value="-" class="form-control" readonly />
                    }

                </div>
            }

        </div>


        <div class="row">
            <div class="col-md-4">
                <small class="required"> Professione</small><br />
                @Html.DropDownList("Profession", new SelectList(Antinori.Static.BL_Utility.professions), "Seleziona Professione", new { @class = "form-control" })
            </div>

            @{ 
                // set style.
                string style = "";
                if (Model.Profession == null || !Model.Profession.Equals("Altro") || Model.Profession.Equals("")) {
                    style = "display: none;";
                }
            }

            <div class="col-md-4" id="OtherProfessionDiv" style="@style">
                <small > Altro</small><br />
                <input type="text" id="OtherProfession" name="OtherProfession" value="@Model.OtherProfession" class="form-control" />
            </div>

            <div class="col-md-4">
                <small class="required"> Ruoli</small><br />
                @foreach (string role in ViewBag.RuoliList) {
                    if (Model.AspNetRoles.Where(it => it.Name.Equals(role)).ToList().Count > 0) {
                        <input type="radio" id="@role" name="Role" value="R_@role" checked /> @role
                    }
                    else {
                        <input type="radio" id="@role" name="Role" value="R_@role" /> @role
                    }
                    <br />
                }
            </div>

        </div>

    </div>
}


<script>

    $("#Profession").change(function () {
        // show/hide other profession field.
        var value = $("#Profession").val();
        if (value == "Altro") {
            $("#OtherProfessionDiv").show();
        }
        else {
            $("#OtherProfessionDiv").hide();
        }
    });

</script>
