@model List<Antinori.Models.AspNetUsers>

<!-- TABLE -->
    <table id="DataTables_Table_0" class="table dataTable table-hover">
        <thead>
            <tr>
                <th style="width: 100px">Username</th>
                <th style="width: 100px">Cognome</th>
                <th style="width: 100px">Nome</th>
                <th style="width: 70px">Cellulare</th>
                <th style="width: 70px">Professione</th>
                <th style="width: 100px">Email</th>
                <th style="width: 100px">Ruoli</th>
                <th style="width: 180px"> </th>
            </tr>
        </thead>

        <tbody>
            <!-- Loop on the model.-->
            @foreach (var item in Model) {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Surname</td>
                <td>@item.Name</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Profession</td>
                <td>@item.Email</td>
                <td>
                    @foreach(var role in item.AspNetRoles) {
                        <div class="checkbox" style="margin-top: 0px; padding-top: 0px;">
                            <label>
                                <!-- readonly radio button-->
                                <input type="checkbox" checked disabled>
                                @Html.DisplayFor(modelItem => role.Name)
                            </label>
                        </div>

                    }

                </td>
                <td>
                    <button class="btn btn-default btn-sm" onclick="edit('@item.Id')" title="Modifica">
                        <i class="fa fa-edit">
                        </i>
                    </button>

                    <button class="btn btn-default btn-sm" onclick="delete_get('@item.Id')" title="Cancella">
                        <i class="fa fa-trash-o">
                        </i>
                    </button>
                </td>
            </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th colspan="8"></th>
            </tr>
        </tfoot>
    </table>

