@model Antinori.Models.AspNetUsers

<!-- Create a form  -->
@using (Html.BeginForm("Save", "Account", FormMethod.Post, new { id = "CONTENT_Account_Form" })) {
    <!-- we can set an action with this attribute: we set that the authentication token has to be the same between requests. -->
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Id,new { id="Id"})
    <!-- FIELD TO EDIT -->
    <div>
        <div class="row">
            @if(Model.Id == null || Model.Id.Length == 0) {

            }
            else {
                // edit case.
                <div class="col-md-4">
                    <small class="required">Username</small><br />
                    <input type="text" id="Username" name="Username" value="@Model.UserName" disabled class="form-control" />
                </div>
            }

            <div class="col-md-4">
                <small class="required">Nome</small><br />
                <!-- try update binds with the name attribute. -->
                <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" required />
            </div>
            <div class="col-md-4">
                <small class="required">Cognome</small><br />
                <input type="text" id="Surname" name="Surname" value="@Model.Surname" class="form-control" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <small class="required">Email</small><br />
                <input type="email" id="Email" name="Email" value="@Model.Email" class="form-control" required />
            </div>
            <div class="col-md-4">
                <small class="required"> Cellulare</small><br />
                <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <small class="required"> Ruoli</small><br />
                @foreach(string role in ViewBag.RuoliList) {
                    if(Model.AspNetRoles.Where(it => it.Name.Equals(role)).ToList().Count > 0) {
                        <input type="radio" id="@role" name="Role" value="R_@role" checked /> @role
                    }
                    else {
                        <input type="radio" id="@role" name="Role" value="R_@role" /> @role
                    }
                    <br />

                }
            </div>

        </div>

    </div>
}


<script>

    function update(visibility) {
        // if we are giving a visibiluty to the user we set also the visualizzazione iscritti role.

        // check some roles if we give some visibility.
        if (visibility.toLowerCase() == "V_Totale".toLowerCase()) { // todo.
            $('#Visualizzazione_Iscritti').attr('checked', true);
        }

        if (visibility.toLowerCase() == "V_Regione".toLowerCase()) { // todo.
            $('#Visualizzazione_Iscritti').attr('checked', true);
        }

        if (visibility.toLowerCase() == "V_Provincia".toLowerCase()) { // todo.
            $('#Visualizzazione_Iscritti').attr('checked', true);
        }

        if (visibility.toLowerCase() == "V_Sezione".toLowerCase()) { // todo.
            $('#Visualizzazione_Iscritti').attr('checked', true);
        }

        if (visibility.toLowerCase() == "V_Incaricato".toLowerCase()) { // todo.
            $('#Visualizzazione_Iscritti').attr('checked', true);
        }


    }
</script>
