@model List<Sinafi.Models.AspNetUsers>

<!-- TABLE -->
    <table id="DataTables_Table_0" class="table dataTable table-hover">
        <thead>
            <tr>
                <th style="width: 10px">Attivo</th>
                <th style="width: 100px">Username</th>
                <th style="width: 100px">Cognome</th>
                <th style="width: 100px">Nome</th>
                <th style="width: 100px">Regione</th>
                <th style="width: 100px">Provincia</th>

                <th style="width: 100px">Email</th>
                <th style="width: 70px">Cellulare</th>
                <th style="width: 100px">Ruoli</th>
                <th style="width: 180px"> </th>
            </tr>
        </thead>

        <tbody>
            <!-- Loop on the model.-->
            @foreach (var item in Model) {
            <tr>
                <!-- LockoutEnabled enables or disables the user. -->
                <td>
                    <a href="#" onclick="attivo('@item.Id')">
                        @if (item.Attivo) {
                            <i class="fa fa-circle" title="Disattiva Utente" style="color: green"></i>
                        }
                        else {
                            <i class="fa fa-circle" title="Attiva Utente" style="color: red"></i>
                        }
                    </a>

                </td>
                <td>@item.UserName</td>
                <td>@item.Incaricato_Cognome</td>
                <td>@item.Incaricato_Nome</td>
                <td>@item.Incaricato_Regione</td>
                <td>@item.Incaricato_Provincia</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>
                        @foreach (var role in item.AspNetRoles) {
                            <div class="checkbox" style="margin-top: 0px; padding-top: 0px;">
                                <label>
                                    <!-- readonly radio button-->
                                    <input type="checkbox" checked disabled>
                                    @Html.DisplayFor(modelItem => role.Name)
                                </label>
                            </div>

                        }

                </td>
                <td>
                    <button class="btn btn-default btn-sm" onclick="edit('@item.Id')" title="Modifica">
                        <i class="fa fa-edit">
                        </i>
                    </button>

                    <button class="btn btn-default btn-sm" onclick="delete_get('@item.Id')" title="Cancella">
                        <i class="fa fa-trash-o">
                        </i>
                    </button>

                    <button class="btn btn-default btn-sm" onclick="reset_password_get('@item.Id')" title="Reset Password">
                        <i class="fa fa-keyboard-o">
                        </i>
                    </button>
                </td>
            </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th colspan="10"></th>
            </tr>
        </tfoot>
    </table>

