@model Antinori.Models.Books



<!-- Create a form  -->
@using(Html.BeginForm("Save", "Book", FormMethod.Post, new { id = "CONTENT_Book_Form" })) {
    <!-- we can set an action with this attribute: we set that the authentication token has to be the same between requests. -->
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Id, new { id = "Id" })
    <!-- FIELD TO EDIT -->
    <div>
        <div class="row">
            @if(Model.Id == null || Model.Id.Length == 0) {

            }
            else {
                // edit case.

            }
            <div class="col-md-4">
                <small class="required">Titolo</small><br />
                <input type="text" id="Title" name="Title" value="@Model.Title" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <small>Note</small><br>
                <textarea id="Description" name="Description" value="@Model.Description" class="form-control" style="min-height: 150px"></textarea>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-4">
                <small class="required"> Ruoli</small><br />
                @foreach(string role in ViewBag.RuoliList) {
                    if(Model.AspNetRoles.Where(it => it.Name.Equals(role)).ToList().Count > 0) {
                        <input type="radio" id="@role" name="Role" value="R_@role" checked /> @role
                    }
                    else {
                        <input type="radio" id="@role" name="Role" value="R_@role" /> @role
                    }
                    <br />

                }
            </div>

        </div>*@

    </div>
}
