@model Antinori.Models.AspNetUsers


<!-- Create a form  -->
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "CONTENT_ChangePassword_Form" })) {
    <!-- we can set an action with this attribute: we set that the authentication token has to be the same between requests. -->
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Id)

    <!-- FIELD TO EDIT -->
    <div>
        <div class="row">
            <div class="col-md-6">
                <small class="required">Vecchia Password</small><br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", id="pass1" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <small class="required">Nuova Password</small><br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required",id="pass2" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <small class="required">Conferma Password</small><br />
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = "required", id="pass3" })
            </div>
        </div>
        <!-- ERROR MESSAGES -->
        <div class="nosamepass" hidden style="color: red!important; font-weight: bold; margin-left: 10px">Le password non corrispondono!</div>
        <div class="smallpass" hidden style="color: red!important; font-weight: bold; margin-left: 10px">Password troppo corta!</div>
    </div>
}




