@model IEnumerable<Sinafi.Models.Iscritti>
<ul class="todo-list">
    @foreach (var i in Model)
    {
        string classe = "inscadenzaFG";
        if (i.Scaduto)
        {
            classe = "scadutoFG";
        }

    <li>
        <!-- drag handle -->
        <span class="handle">
            @if (User.IsInRole("Amministrazione")||User.IsInRole("Gestione_Iscritti"))
            {
                <a href="@Url.Action("P_Edit","Iscritti",new {id=i.Id })">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </a>
            }

        </span>       
        <span class="text">@i.Cognome @i.Nome</span>
        <!-- Emphasis label -->

        <span class="pull-right @classe"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;@i.data_inizio.ToShortDateString() - @i.data_fine.ToShortDateString()</span>
        
    </li>
    }

</ul>
