@model Sinafi.Models.Iscritti

<div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">@Model.Cognome @Model.Nome</h3>
        <h5 class="widget-user-desc">nato il @Model.DataNascita a @Model.LuogoNascita</h5>
    </div>
    <div class="widget-user-image">
        <img class="img-circle" src="~/dist/img/avatar5.png" alt="">
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">Numero</h5>
                    <span class="description-text">@Model.IdNumerico</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">Cellulare</h5>
                    <span class="description-text">@Model.Tel1</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header">Email</h5>
                    <span class="description-text">@Model.Email</span><br />
                    <span class="description-text">@Model.Email2</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

    <div>
        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>Residente a</b> <a class="pull-right">@Model.Indirizzo @Model.NCivico @Model.CAP @Model.Comune @Model.Provincia</a>
            </li>
            <li class="list-group-item">
                <b>in servizio presso</b> <a class="pull-right">@Model.Servizio_Luogo</a>
            </li>
            <li class="list-group-item">
                <b>con il grado di</b> <a class="pull-right">@Model.Servizio_Grado</a>
            </li>
            <li class="list-group-item">
                <b>mat. mecc.</b> <a class="pull-right">@Model.Mat_Mec</a>
            </li>
            <li class="list-group-item">
                <b>n. tessera</b> <a class="pull-right">@Model.Tessera</a>
            </li>
            <li class="list-group-item">
                <b> &nbsp;</b> <a class="pull-right">@Model.TipoServizio</a>
            </li>
        </ul>
    </div>
    <div class="table-responsive mailbox-messages" id="A_Iscrizioni">
        @if (Model.Iscrizioni != null)
        {
            foreach (var i in Model.Iscrizioni.OrderByDescending(p => p.Data_Inizio))
            {                
                <h3>@i.Data_Inizio.Value.ToShortDateString() - @i.Data_Fine.Value.ToShortDateString() @Html.Raw(Sinafi.Static.BL_Utility.Instance.tipi_iscrizione_icon_stati(i.Stato))</h3>
                <div style="min-height:200px">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Data di pagamento</b>
                            <a class="pull-right">
                                @if (i.Pagamento_Data.HasValue)
                                {
                                    <span>@i.Pagamento_Data.Value.ToShortDateString()</span>
                                }
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Importo versato</b> <a class="pull-right">€ @i.Pagamento_Importo</a>
                        </li>
                        <li class="list-group-item">
                            <b>Tipo di documento</b> <a class="pull-right">@i.Documento_Tipo</a>
                        </li>
                        <li class="list-group-item">
                            <b>N. di documento</b> <a class="pull-right">@i.Documento_Numero</a>
                        </li>
                        <li class="list-group-item">
                            <b>Data di emissione</b>
                            <a class="pull-right">
                                @if (i.Documento_Data_Emessione.HasValue)
                                {
                                    <span>@i.Documento_Data_Emessione.Value.ToShortDateString()</span>
                                }
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Data di scadenza</b>
                            <a class="pull-right">
                                @if (i.Documento_Data_Scadenza.HasValue)
                                {
                                    <span>@i.Documento_Data_Scadenza.Value.ToShortDateString()</span>
                                }
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Emesso da</b>
                            <a class="pull-right">
                                @i.Documento_Ente_Emissione
                            </a>
                        </li>
                    </ul>
                </div>
            }
        }

    </div>
</div>

    <script>
        $(function () {
          $("#A_Iscrizioni").accordion();
        });
    </script>  






