@model List<Antinori.Models.SubSections>

<!-- TABLE -->
<table id="DataTables_Table_0" class="table dataTable table-hover">
    <thead>
        <tr>
            <th style="width: 100px">Nome</th>
            <th style="width: 150px">Descrizione</th>
            <th style="width: 100px">Opera</th>
            <th style="width: 70px">Sezione</th>
            <th style="width: 100px"># Pagine</th>
            <th style="width: 50px"> </th>
        </tr>
    </thead>

    <tbody>
        <!-- Loop on the model.-->
        @foreach(var subsection in Model) {
            <tr>
                <td>@subsection.Name</td>
                <td>@subsection.Description</td>
                <td>@subsection.Sections.Books.Title</td>
                <td>@subsection.Sections.Name</td>

                <td>@subsection.Pages.Count</td>

                <td>
                    <button class="btn btn-default btn-sm" onclick="P_AddPage('@subsection.Id')" title="Aggiungi Pagine">
                        <i class="fa fa-plus">
                        </i>
                    </button>
                    <button class="btn btn-default btn-sm" onclick="ShowPages('@subsection.Id')" title="Mostra Pagine">
                        <i class="fa fa-files-o">
                        </i>
                    </button>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th colspan="6"></th>
        </tr>
    </tfoot>
</table>

