@model List<Antinori.Models.Sections>
@using Antinori.Models;

@for(int i=0; i <Model.Count; i++) {


    <div>
        @{var index = i + 1;}

        <!-- EDIT CASE -->
        @if(Model[i].Id != null && Model[i].Id.Length > 0) {
            @Html.Hidden("id" + i.ToString(), Model[i].Id)
        }

        <p style="font-weight: bold">Sezione @index </p>
        <div class="row">
            <div class="col-md-3">
                <small class="required">Nome</small><br />
                @{var name = "name" + i.ToString();}
                <input type="text" id="@name" name="@name" value="@Model[i].Name" class="form-control" required />
            </div>
            <div class="col-md-3">
                <small>Descrizione</small><br>
                @{var name2 = "description" + i.ToString();}
                <textarea id="@name2" name="@name2" value="@Model[i].Description" class="form-control" style="min-height: 100px">@Model[i].Description</textarea>
            </div>
            <div class="col-md-3">
                <small>Descrizione 2</small><br>
                @{var name33 = "2description" + i.ToString();}
                <textarea id="@name33" name="@name33" value="@Model[i].Description2" class="form-control" style="min-height: 100px">@Model[i].Description2</textarea>
            </div>
            <div class="col-md-3">
                <small>Descrizione 3</small><br>
                @{var name333 = "3description" + i.ToString();}
                <textarea id="@name333" name="@name333" value="@Model[i].Description2" class="form-control" style="min-height: 100px">@Model[i].Description3</textarea>
            </div>

            @{var name4 = "subSectionBody" + i.ToString();}
            @{var name5 = "numberOfSubSection" + i.ToString();}

            <!-- CREATE CASE -->
            @if (Model[i].Id == null || Model[i].Id.Length == 0) {
                <div class="col-md-2">
                    <small>Numero di sottosezioni</small>
                </div>
                <div class="col-md-2">
                    @{var name3 = "numberOfSubSection" + i.ToString();}

                    <input type="number" id="@name3" name="@name3" value="" min="0" class="form-control" required />
                </div>
                <div class="col-md-2">
                    <ul class="nav nav-tabs">
                        <li class="pull-right">
                            <a href="#" onclick="UpdateSubSections('@name3' , '@name4')" class="text-muted">
                                <i class="fa fa-check"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            }
            else {
                <input style="visibility:hidden;" type="number" id="@name5" name="@name5" value="@Model[i].SubSections.Count" min="@Model[i].SubSections.Count" class="form-control" required />

                var css = "hidden";
                if (Model[i].SubSections.Count > 0) {
                    css = "visible";
                }
                <div class="box-body" style="border-left: solid 3px #ffa401; visibility: @css;">
                    @Html.Partial("UC_SubSection", Model[i].SubSections.OrderBy(p => p.Name).ToList())

                </div>
            }

        </div>
        <div class="row">

            <div class="box-body" id="@name4" style="border-left: solid 3px #ffa401; visibility: hidden;">

            </div>
        </div>
        <br />
    </div>
}
