@model Antinori.Models.AspNetUsers
@{
    ViewBag.Title = "Cambia Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_page{
    <h2><span class="fa fa-users"></span> @ViewBag.Title</h2>
}

<div class="box box-solid">
    <div class="box-header with-border">

    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @Html.Partial("UC_ChangePassword", Model)
    </div>
    <div class="box-footer">
        <div class="pull-right">
            <button class="btn btn-primary" onclick="ChangePassword()">Salva</button>
            &nbsp;&nbsp;
            <a class="btn btn-primary" href="@Url.Action("Index","Home")">Vai alla dashboard</a>
        </div>
    </div>
</div>


@section scripts {
    <script>
    function ChangePassword(Password, NewPassword) {
        $('#CONTENT_ChangePassword_Form').validate({
            lang: 'it'
        });
         
        if ($('#CONTENT_ChangePassword_Form').valid()) {
            // hide things.
            $(".smallpass").fadeOut('slow');
            $(".nosamepass").fadeOut('slow');

            // if it is not small
            if ($("#pass2").val().length >= 6) {
                // if are not equal.
                if ($("#pass2").val() != $("#pass3").val()) {
                    $(".nosamepass").fadeIn('slow');
                    // exit.
                    return false;
                    }
                    else {
                        // hide nosamepass
                        $(".nosamepass").fadeOut('slow');
                    }
                }
                else { // small password.
                    $(".smallpass").fadeIn('slow');
                    // exit.
                    return false;
                }

            // show the refresher.
            REFRESH_show("MODAL_Refresh");
            var url = '@Url.Action("ChangePassword", "Account")';
            // take the form content by id.
            var data = new FormData($('#CONTENT_ChangePassword_Form').get(0));

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                contentType: false,
                processData: false,
                success: function (risultato) {

                    $("#MODAL_ID").modal('toggle');
                        if (!risultato.riuscita) {
                            // set error.
                            DANGER_function("Si è verificato un errore durante l'operazione", risultato.msg,"","","","OK");
                        }
                        else {
                            //if all was ok
                            SUCCESS_function("La password è stata modificata con successo.", "Complimenti!  L'operazione di cambio password si è conclusa con successo!", "vai('@Url.Action("Index","Home")')", "OK");
                        }
                    },
                    error: function () {
                        // set error.
                        DANGER_function("Si è verificato un errore durante l'operazione", "Controllare i dati inseriti e riprovare","","","","OK");
                    }
            });
                    
        }
    }
    </script>
    }





