@model Antinori.Models.AspNetUsers

@{
    ViewBag.Title = "Cambia Password";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<!-- start TITLE Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 250px!important;">
            <div class="banner-content col-lg-7">
                <h2 class="text-white text-uppercase">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</section>
<!-- start TITLE Area -->
<!-- CHANGE PASSWORD -->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <div class="row">

                <div class="col-lg-11 col-md-11">
                    <h3 class="mb-30">Cambia Passowrd</h3>
                    @using(Html.BeginForm("Save", "Account", FormMethod.Post, new { id = "CONTENT_Profile_Form" })) {
                        <!-- we can set an action with this attribute: we set that the authentication token has to be the same between requests. -->
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(p => p.Id)
                        <div class="row">
                            <div class="form-group" style="min-width: 300px!important;">
                                <label class="ls text-uppercase mb-0">Username</label>
                                <input type="text" id="UserName" name="UserName" value="@Model.UserName" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="margin-right: 50px!important;">
                                <label class="ls text-uppercase mb-0">Nome</label>
                                <input type="text" id="Name" name="Name" value="@Model.Name" placeholder="Nome" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="min-width: 300px!important;">
                                <label class="ls text-uppercase mb-0">Cellulare</label>
                                <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Cellulare" class="form-control">
                            </div>
                        </div>
                        // Trascrizioni approvate
                        @Model.Transcriptions.Count
                    }
                </div>
            </div>
        </div>
    </div>
</div>
