@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";

}
@using System.Linq
<!-- start banner Area -->
<section class="banner-area" id="home" style="background-image: -webkit-linear-gradient(90deg, #E0D3AF 0%, #654321 100%)!important;">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="col-lg-6 banner-right">
                    <img class="img-fluid" src="~/Content/img/Home/@ViewBag.page.Path" style="@ViewBag.page.Style">                
            </div>
            <div class="banner-content col-lg-6">
                <h5 class="text-white" style="text-align: left;">@ViewBag.page.Title</h5>
                <br /> 
                <h5 class="text-white" style="font-weight: 300!important; text-align: left;">@ViewBag.page.Title2</h5>
                <p class="text-white pt-20 pb-20" style="text-align: right;">
                    @ViewBag.page.Text
                </p>
                <a href="@Url.Action("P_TranslatePageWithAuth","Book")?pageId=@ViewBag.page.Link" target="_blank" class="primary-btn" style="padding-left: 15px!important; padding-right: 15px!important; line-height: 35px; float: right; text-transform: none;">Vedi</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start about Area -->
<section class="section-gap info-area" id="about">
    <div class="container">
        <div class="single-info row mt-40 align-items-center">
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h3 class="pb-30">
                        I Manoscritti Antinoriani per la ricerca storiografica sull’Abruzzo
                    </h3>
                    <div>
                        "L’Antinori nota e registra tutto: avvenimenti politici, piati e controversie giuridiche, elezioni di magistrati, deliberazioni di opere pubbliche, feste religiose, fondazioni di chiese, decessi illustri di signori o vescovi o prelati; impianti di scuole e di professioni di arti e mestieri, edizioni di libri, pestilenze, comete, terremoti, brinate, temporali; … trae vantaggio di tutto, le varie testimonianze adducendo, confrontandole, vagliandole".
                    </div>
                    <div style="text-align: right;">
                        Giovanni Setti
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p style="font-size: 12px;">
                        I materiali pubblicati in questo sito sono di proprietà della Biblioteca Salvatore Tommasi dell’Aquila e sono sottoposti alla normativa vigente per quanto riguarda i diritti di riproduzione e pubblicazione.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center no-padding info-left">
                <div class="info-thumb">
                    <figure>
                        <img src="~/Content/Public/img/Pescara.jpg" class="img-fluid info-img" alt="">
                        <figcaption style="font-size:12px;">
                            Fortezza di Pescara e fiume omonimo che sfocia nell’Adriatico. Annali degli Abruzzi, XXIV-1, 137
                            
                        
                        </figcaption>
                            <a href="@Url.Action("P_TranslatePageWithAuth","Book")?pageId=25f26ff0-b7dd-4831-ac74-632fe67e11ce" target="_blank" class="" style="border-radius: 50px; border: 1px solid transparent; padding-left: 15px !important; padding-right: 15px !important; line-height: 35px; text-transform: none; background-color: wheat; color: #222; display: inline-block; font-weight: 500;">Vedi</a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End about Area -->
<!-- Start fact Area -->
<section class="fact-area relative section-gap" id="fact" style="background: url('../../Content/Public/img/1.jpg') center; background-size: cover">
    <div class="overlay overlay-bg" style="z-index: 0!important; background:rgba(0, 0, 0, 0.5) "></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Manoscritti Antinoriani on-line</h1>
                    <p>
                        trascrivibili fruibili scaricabili interrogabili per la storia della cultura degli Abruzzi … e <i>luoghi circonvicini</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End fact Area -->
<!-- Start counter Area -->
<section class="counter-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfPages</h1>
                    <p>Facsimili</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfBooks</h1>
                    <p>Opere</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfNormalUsers</h1>
                    <p>Trascrittori</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfTranscription</h1>
                    <p>Trascrizioni in corso</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- end counter Area -->
<!-- Start price Area -->
<section class="price-area section-gap" id="price">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <a target="_blank" href="@Url.Action("P_ReadBooks","Book")">
                        <h1 class="mb-10">Inizia a trascrivere ora!</h1>
                    </a>
                    <p>Il Progetto</p>
                    <p>
                        "Pubblicare tale apparato non era, com’è facile pensare, un’impresa delle più semplici. Nondimeno noi l'abbiamo affrontata con tutto l’ardore che ci ispirava la sua stessa grandiosità”
                    </p>
                    <p>Vincenzo De Bartholomaeis, 1913</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->
