@{
    ViewBag.Title = "Titolo";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";

}
@using System.Linq
<!-- start banner Area -->
<section class="banner-area" id="home" style="background-image: -webkit-linear-gradient(90deg, #E0D3AF 0%, #654321 100%)!important;">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="col-lg-6 banner-right">
                <img class="img-fluid" src="~/Content/img/Home/@ViewBag.page.Path" style="border-radius: 15px 0 0 15px">
            </div>
            <div class="banner-content col-lg-6">
                <h5 class="text-white text-uppercase">@ViewBag.page.Title</h5>
                <p class="text-white pt-20 pb-20">
                    @ViewBag.page.Text
                </p>
                <a href="@Url.Action("P_TranslatePageWithAuth","Book")?pageId=@ViewBag.page.Link" target="_blank" class="primary-btn text-uppercase">Leggi</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start about Area -->
<section class="section-gap info-area" id="about">
    <div class="container">
        <div class="single-info row mt-40 align-items-center">
            <div class="col-lg-6 col-md-12 text-center no-padding info-left">
                <div class="info-thumb">
                    <img src="~/Content/Public/img/about-img.jpg" class="img-fluid info-img" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h2 class="pb-30">Dr. Travor James</h2>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.
                    </p>
                    <br>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.
                    </p>
                    <br>
                    <img src="~/Content/Public/img/signature.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->
<!-- Start fact Area -->
<section class="fact-area relative section-gap" id="fact" style="background: url('../../Content/Public/img/1.jpg') center; background-size: cover">
    <div class="overlay overlay-bg" style="z-index: 0!important; background:rgba(0, 0, 0, 0.5) "></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Some Features that Made us Unique</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End fact Area -->
<!-- Start counter Area -->
<section class="counter-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfPages</h1>
                    <p>Facsimili</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfBooks</h1>
                    <p>Opere</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfNormalUsers</h1>
                    <p>Trascrittori</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-counter">
                    <h1 class="counter">@ViewBag.numberOfTranscription</h1>
                    <p>Trascrizioni Sottomesse</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end counter Area -->
<!-- Start price Area -->
<section class="price-area section-gap" id="price">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <a target="_blank" href="@Url.Action("P_ReadBooks","Book")">
                        <h1 class="mb-10">Inizia a trascrivere ora!</h1>
                    </a>
                    <p>Non vediamo l'ora di ricevere le tue trascrizioni.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->
