@{
    ViewBag.Title = "Sottosezioni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_page{
    <h2><span class="fa fa-book"></span> @ViewBag.Title</h2>
}

<div class="box box-solid">
    
    <div class="box-header with-border" id="CONTENT_SUBSECTIONS">
        
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="CONTENT_SUBSECTIONS">
    </div>
    <div class="box-body" id="CONTENT_PAGES">

    </div>

    <div class="box-body" id="CONTENT_ATTACHMENTS">

    </div>

    <div class="box-footer">
        <div class="pull-right">
        </div>
    </div>
</div>


@section scripts{
    
    <script>
        $(document).ready(function () {
            list();
      });

        function AddPage() {
            // add a page.

            // validate form.
            $('#CONTENT_Page_Form').validate({
                lang: 'it'
            });

            if ($('#CONTENT_Page_Form').valid()) {

                REFRESH_show("MODAL_Refresh");

                var url = '@Url.Action("AddPage", "Book")';
                // take the form content by id.
                var data = new FormData($('#CONTENT_Page_Form').get(0));

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (risultato) {
                        REFRESH_hide("CONTENT_Refresh");

                        if (risultato) {
                            $("#MODAL_ID").modal('toggle');
                            list();
                        }

                    },
                    error: function () {
                        // set error.
                        DANGER_function("Si è verificato un errore durante l'operazione", "Controllare i dati inseriti e riprovare", "", "", "", "OK");
                    }
                });
            }
        }

        function DeleteAttachment(id, pageId) {
            // delete attachment.
            var url = '@Url.Action("DeleteAttachment", "Book")' + "?id=" + id;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");

            $.getJSON(url,
                function (data) {
                    if (Boolean(data)) {
                        $("#CONTENT_ATTACHMENTS").empty();
                        ShowAttachments(pageId)
                    }
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                });
        }

        function DeletePageOk(pageId) {
            // delete page.
            var url = '@Url.Action("DeletePage", "Book")' + "?id=" + pageId;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");

            $.getJSON(url,
                function (data) {
                    if (Boolean(data)) {
                        list();
                    }
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                });
        }

        function DeletePage(id) {
            // set a dangerous alert.
            DANGER_function("ATTENZIONE", "Questa operazione cancellerà il facsimile selezionato: sei sicuro di voler procedere?", "DeletePageOk('" + id + "')", "Procedi", "", "Annulla")
        }

        function list() {
            // set the list on the view.
            var url = '@Url.Action("P_SubSectionsListContent", "Book")';
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");
            $.getJSON(url,
                function (data) {
                    // set data.
                    $("#CONTENT_SUBSECTIONS").html(data);
                    // set the table name as parameter: DataTables_Table_0.
                    $("#DataTables_Table_0").DataTable({
                        "aaSorting": [],
                        dom: 'Bfrtip',
                        language: DataTablesLanguage,
                        responsive: true,
                        columnDefs: [
                            { className: "desktop", targets: [4, 5] },  // x > 1024
                            { className: "all", targets: [0, 1, 2, 3] } // for each width
                        ]
                    });
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                });
        }

        function P_AddAttachment(pageId) {
            // show edit page.
            var url = '@Url.Action("P_AddAttachment", "Book")' + "?pageId=" + pageId;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");

            $.getJSON(url,
                function (data) {
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                    $("#CONTENT_ID").css({ width: "150%" });

                    MODAL_function("Aggiungi Allegato", data, "SaveAttachment()", "Salva", "", "Annulla", "");
                });
        }

        function P_AddPage(subSectionId) {

            var url = '@Url.Action("P_AddPage", "Book")' + "?subSectionId=" + subSectionId;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");
            $("#CONTENT_ID").css({ width: "160%" });

            $.getJSON(url,
                function (data) {
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                    MODAL_function("Nuova Pagina", data, "AddPage()", "Aggiungi", "", "Annulla", "");
                });
        }

        function P_EditAttachment(id) {
            // show edit page.
            var url = '@Url.Action("P_EditAttachment", "Book")' + "?id=" + id;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");

            $.getJSON(url,
                function (data) {
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                    $("#CONTENT_ID").css({ width: "150%" });

                    MODAL_function("Modifica Allegato", data, "SaveAttachment()", "Salva", "", "Annulla", "");
                });
        }

        function P_EditPage(pageId) {
            // show edit page.
            var url = '@Url.Action("P_EditPage", "Book")' + "?id=" + pageId;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");

            $.getJSON(url,
                function (data) {
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                    $("#CONTENT_ID").css({ width: "160%" });
                    
                    MODAL_function("Modifica Facsimile", data, "SavePage()", "Salva", "", "Annulla", "");
                });
        }

        function SaveAttachment() {
            // save an Attachment.

            // validate form.
            $('#CONTENT_Attachments_Form').validate({
                lang: 'it'
            });

            if ($('#CONTENT_Attachments_Form').valid()) {

                REFRESH_show("MODAL_Refresh");
                var url = '@Url.Action("SaveAttachment", "Book")';
                // take the form content by id.
                var data = new FormData($('#CONTENT_Attachments_Form').get(0));

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (risultato) {
                        if (risultato.riuscita) {
                            $("#MODAL_ID").modal('toggle');
                            list();
                        }
                        else {
                            DANGER_function("Si è verificato un errore durante l'operazione", "Controllare i dati inseriti e riprovare", "", "", "", "OK");
                        }

                    },
                    error: function () {
                        // set error.
                        DANGER_function("Si è verificato un errore durante l'operazione", "Controllare i dati inseriti e riprovare", "", "", "", "OK");
                    }
                });
            }
        }

        function SavePage() {
            // save a page.

            // validate form.
            $('#CONTENT_Page_Form').validate({
                lang: 'it'
            });

            if ($('#CONTENT_Page_Form').valid()) {

                REFRESH_show("MODAL_Refresh");
                var url = '@Url.Action("SavePage", "Book")';
                // take the form content by id.
                var data = new FormData($('#CONTENT_Page_Form').get(0));

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (risultato) {
                        $("#MODAL_ID").modal('toggle');
                        list();
                    },
                    error: function () {
                        // set error.
                        DANGER_function("Si è verificato un errore durante l'operazione", "Controllare i dati inseriti e riprovare", "", "", "", "OK");
                    }
                });
            }
        }

        function ShowAttachments(pageId) {
            var url = '@Url.Action("ShowAttachments", "Book")' + "?pageId=" + pageId;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");
            $.getJSON(url,
                function (data) {
                    // set data.
                    $("#CONTENT_ATTACHMENTS").html(data);
                    // set the table name as parameter: DataTables_Table_0.
                    $("#DataTables_Table_2").DataTable({
                        dom: 'Bfrtip',
                        language: DataTablesLanguage,
                        responsive: true,
                        columnDefs: [
                            { className: "desktop", targets: [4, 5] },  // x > 1024
                            { className: "all", targets: [0, 1, 2, 3] } // for each width
                        ]
                    });
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                });
        }

        function ShowPages(subSectionId) {
            var url = '@Url.Action("ShowPages", "Book")' + "?subSectionId=" + subSectionId;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");
            $.getJSON(url,
                function (data) {
                    // set data.
                    $("#CONTENT_PAGES").html(data);
                    // set the table name as parameter: DataTables_Table_0.
                    $("#DataTables_Table_1").DataTable({
                        dom: 'Bfrtip',
                        language: DataTablesLanguage,
                        responsive: true,
                        columnDefs: [
                            { className: "desktop", targets: [4, 5] },  // x > 1024
                            { className: "all", targets: [0, 1, 2, 3] } // for each width
                        ],
                        "order": [[2, "asc"]]
                    });
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                });
        }
    </script>
}




