@model Antinori.Models.Pages

@{
    ViewBag.Title = "Trascrizione...";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
    string path = "/Pics/JPEG_Full/" + Model.PhotoPath.Split('\\').Last();
    string tiff = "/Pics/Tiff/" + Model.BigPhotoPath.Split('\\').Last();
}

<!-- upper Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<!-- upper  Area -->

<!-- REFRESHER -->
<div id="CONTENT_Refresh" class="overlay text-center" style="z-index:100; height:80px; background-color:rgba(255, 255, 255, 0.00); margin: auto; position: fixed; display: none;">
    <h3>       
        <i class="fa fa-refresh fa-spin"></i>
    </h3>
</div>
<!-- REFRESHER -->

<!-- Start page Area -->
<section class="course-area section-gap" id="subsections" style="padding-top: 30px!important;">

    <!-- PAGE NUMBER -->
    <div class="row" id="MyFixedHeader" style="z-index: 1; margin-right: 0; margin-left: 0px;">
        <!-- SEARCH ROW-->
        <div class="row" style="width: 100%; z-index: 1; padding-top: 1%;">
            <div class="col-sm" style="text-align: center; ">
                @if (ViewBag.previous != null) {
                    if (ViewBag.previous.Transcriptions.Count > 0) {
                        <a href="@Url.Action("P_TranslatePage", "Book", new { pageId = ViewBag.previous.Id })">
                            <i class="fa fa-arrow-left" style="font-size: 15px; position: absolute; top: 50%; transform: translate(-260%,-50%);" title="Precedente"></i>
                        </a>
                    }
                    else {
                        <a href="@Url.Action("P_TranslatePageWithAuth", "Book", new { pageId = ViewBag.previous.Id })">
                            <i class="fa fa-arrow-left" style="font-size: 15px; position: absolute; top: 50%; transform: translate(-260%,-50%);" title="Precedente"></i>
                        </a>
                    }
                }
                else {
                    <i class="fa fa-arrow-left" style="font-size: 15px; position: absolute; top: 50%; transform: translate(-260%,-50%);"></i>
                }
                @if (ViewBag.after != null) {
                    if (ViewBag.after.Transcriptions.Count > 0) {
                        <a href="@Url.Action("P_TranslatePage", "Book", new { pageId = ViewBag.after.Id })">
                            <i class="fa fa-arrow-right" style="font-size: 15px; position: absolute; top: 50%; transform: translate(-140%,-50%);" title="Successiva"></i>
                        </a>
                    }
                    else {
                        <a href="@Url.Action("P_TranslatePageWithAuth", "Book", new { pageId = ViewBag.after.Id })">
                            <i class="fa fa-arrow-right" style="font-size: 15px; position: absolute; top: 50%; transform: translate(-140%,-50%);" title="Successiva"></i>
                        </a>
                    }
                }
                else {
                    <i class="fa fa-arrow-right" style="font-size: 15px; position: absolute; top: 50%; transform: translate(-140%,-50%);"></i>
                }
                <input type="number" id="pageToSearch" name="pageToSearch" placeholder="# Facsimile" class="form-control" style="width: 100px; min-height: 30px; max-height: 38px; padding: 0.3rem; font-size: 0.8rem!important; display: inline; border-radius: 0px!important;" min="0">
                    <i onclick="SearchPageBySub('@Model.SubSection')" class="fa fa-check genric-btn info circle my-button" title="Cerca Facsimile" style="padding: 0 15px 0 15px; min-height: 30px; max-height: 38px; border-radius: 0px!important;">
                    </i>
                </div>                
        </div>
            <!-- TITLE ROW-->
        <div class="row" style="width: 100%;">
            @if (Model.Title != null && Model.Title.Length > 0) {
                <h3 style="margin-left: auto; margin-right: auto; padding: 6px;" id="myText">
                    #@Model.NumericOrder <i>@Model.Title</i>
                </h3>
            }
            else {
                <h3 style="margin-left: auto; margin-right: auto; padding: 6px;" id="myText">
                    #@Model.NumericOrder
                </h3>
            }
        </div>
    </div>

    <!-- CONTENT ROW -->
    <div class="row" style="margin-right: 25px!important; margin-left: 25px!important; ">
        <!-- LEFT COL -->
        <div class=".col-sm" style="max-width: 5%; min-width: 5%; margin-top: -10px;">
            
        </div>
        <!-- PHOTO COL -->
        <div class="col-sm" style="max-width: 45%; min-width: 45%; margin-top: 40px;">

            <div class="grid-container" style="display: grid; grid-template-columns: auto auto auto;">

                <div class="grid-item"><b class="myB">Parte</b>&nbsp;<i>@Model.SectionName</i></div>
                <div class="grid-item"><b class="myB">Manoscritto</b>&nbsp;<i>@Model.SubSections.Name</i></div> <br />
                @{
                    string editor = "-";
                    if (Model.Editor != null && Model.Editor.Length > 1) {
                        editor = Model.Editor;
                    }
                }
                @if (!editor.Equals("-")) {
                    <div class="grid-item"><b class="myB">Mano</b>&nbsp;<i>@editor</i></div>
                }

                @{
                    var filters = "";
                    foreach (var f in Model.Filters.ToList()) {
                        filters = filters + ";" + f.Name;
                    }
                    filters = filters.TrimEnd(';');
                    filters = filters.TrimStart(';');
                    if (filters.Equals("")) {
                        filters = "-";
                    }
                }
                @if (!filters.Equals("-")) {
                    @*<div class="grid-item"><b class="myB">Filtri</b>&nbsp;<i>@filters</i></div>*@
                }

            </div>
            <div class="row">
                <img src="@path" class="mx-auto" style="width: 100%; height:100%; 20px; margin-top: 20px;" />
            </div>
            <div class="row" style="display: grid; margin-bottom: 30px; margin-top: 15px;">
                @{
                    string description = "-";
                    if (Model.Description != null && Model.Description.Length > 0) {
                        description = Model.Description;
                    }
                }
                @if (!description.Equals("-")) {
                    <div class="grid-item" style="padding: 0px;"><b class="myB">Note</b>&nbsp;@description</div>
                }
            </div>
            <!-- BUTTONS ROWS -->
            <div class="row" style="padding-bottom: 20px; ">
                <h5 style="color:#777777; border-bottom: 2px solid #eee;">
                    Downloads
                    <i class="fa fa-cloud-download info circle"></i>
                </h5>
            </div>
            <div class="row">
                <a href="@path" download class="circle my-button-blue genric-btn info" title="Download Jpeg" style="margin: 0; color: white; line-height: 34px; padding-left: 19px; padding-right: 19px;">
                    Jpeg &nbsp;
                    <i class="fa fa-file-image-o" style="border-radius: 5px!important;"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="@tiff" download class="circle my-button-blue genric-btn info" title="Download Tiff" style="margin: 0; color: white; line-height: 34px; padding-left: 19px; padding-right: 19px;">
                    Tiff &nbsp;
                    <i class="fa fa-file-image-o" style="border-radius: 5px!important;"></i>
                </a>
            </div>
            <!-- ATTACHMENT TITLE ROW -->
            <div class="row" style="margin-top: 80px;">
                <div class="single-defination">
                    @if (Model.Attachments.Count > 0) {
                        <h4 class="mb-20">Allegati</h4>
                    }
                </div>
            </div>
        </div>
        <!-- TRANSCRIPTION COL -->
        <div class="col-sm" style="max-width: 45%; min-width: 45%; margin-top: 40px;">
            @if (Model.Transcriptions.Count > 0) {
                <p>

                    @Model.Transcriptions.FirstOrDefault().TEI
                </p>
            }
            else {

            }
        </div>
        <!-- RIGHT COL --->
        <div class=".col-sm" style="max-width: 5%;  min-width: 5%; margin-top: -10px;">

        </div>
    </div>

    <!-- ATTACHMENT ROW -->
    <div class="row" style="margin-left: 5%; margin-right: 5%;">
        <ul style="list-style-type: none; width: 100%;">
            @{ 
                int j = 1;
            }
            @foreach (var att in Model.Attachments.OrderBy(p => p.PublicId)) {
                <li style="background-color: #eee; border-radius: 1%; padding: 10px 10px 10px 10px; width: 100%; margin-bottom: 5px;">
                    <span class="caret fa fa-angle-down" style="width: 100%;">
                        <b style="color: #777777; font-size: 16px;"> Allegato @j </b>
                    </span>
                    <ul class="nested">
                        <div class="grid-container nested" style="display: grid; grid-template-columns: auto auto auto; padding: 10px;">
                            <div class="grid-item"><b class="myB">Identificativo:</b>&nbsp;@att.PublicId</div>
                            <div class="grid-item"><b class="myB">Istituto di Conservazione:</b>&nbsp;@att.ConservationInstitute</div>
                            <div class="grid-item"><b class="myB">Natura:</b>&nbsp;@att.Nature</div>

                            <div class="grid-item"><b class="myB">Data Cronica:</b>&nbsp;@att.ChronicDate</div>
                            <div class="grid-item"><b class="myB">Data Topica:</b>&nbsp;@att.TopicDate</div>
                            <div class="grid-item"><b class="myB">Regesto:</b>&nbsp;@att.Regesto</div>

                            <div class="grid-item"><b class="myB">Sigilli:</b>&nbsp;@att.Seals</div>
                            <div class="grid-item"><b class="myB">Note:</b>&nbsp;@att.Note</div>

                            <div class="grid-item"><b class="myB"></b>
                                <a href="/Attachments/@att.PhotoPath.Split('\\').Last()" download class="circle my-button-blue genric-btn info" title="Download Anteprima" style="margin: 0; color: white; line-height: 30px; padding-left: 19px; padding-right: 19px;">Anteprima &nbsp;
                                    <i class="fa fa-file-image-o" style="border-radius: 5px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </ul>                    
                </li>
                j++;
            }
        </ul>
    </div>
</section>
<!-- End page Area -->

<script>
    
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>
