@{
    ViewBag.Title = "Trascrizioni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_page{
    <h2><span class="fa fa-book"></span> @ViewBag.Title</h2>
}

<div class="box box-solid">
    <div class="box-header with-border" id="CONTENT_SUBSECTIONS">
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="CONTENT_SUBSECTIONS">
    </div>
    <div class="box-footer">
        <div class="pull-right">
        </div>
    </div>
</div>


@section scripts{

    <script>
      $(document).ready(function () {

            list();
      });


        function list() {
            // set the list on the view.
            var url = '@Url.Action("P_TranscriptionsListContent", "Book")';

            // show the refresher.
            REFRESH_show("CONTENT_Refresh");
            $.getJSON(url,
                function (data) {
                    // set data.
                    $("#CONTENT_SUBSECTIONS").html(data);
                    // set the table name as parameter: DataTables_Table_0.
                    $("#DataTables_Table_0").DataTable({
                        dom: 'Bfrtip',
                        language: DataTablesLanguage,
                        responsive: true,
                        columnDefs: [
                            { className: "desktop", targets: [4, 5] },  // x > 1024
                            { className: "all", targets: [0, 1, 2, 3] } // for each width
                        ]
                    });
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                });
        }

        function delete_ok(id) {
            // delete the user.

            // hide the modal view.
            $("#MODAL_ID").hide();

            var url = '@Url.Action("DeleteTranscription", "Book")' + "?id=" + id;
            // show the refresher.
            REFRESH_show("CONTENT_Refresh");
            $.getJSON(url,
                function (data) {
                    // hide the refresher.
                    $("#MODAL_ID").modal('toggle');
                    if (Boolean(data)) {
                        list();
                    }
                });
        }

        function delete_get(id) {
            // set a dangerous alert.
            DANGER_function("ATTENZIONE", "Questa operazione cancellerà l'opera selezionata: sei sicuro di voler procedere?", "delete_ok('" + id + "')", "Procedi", "", "Annulla")
        }

        function P_EditTranscription(id) {
            var url = '@Url.Action("P_EditTranscription", "Book")' + "?id=" + id;

            // show refresher.
            REFRESH_show("CONTENT_Refresh");
            $.getJSON(url,
                function (data) {
                    // hide the refresher.
                    REFRESH_hide("CONTENT_Refresh");
                    $("#CONTENT_ID").css({ width: "150%" });

                    // set a modal view.
                    MODAL_function("Modifica Trascrizione", data, "SaveTranscription()", "Salva", "", "Annulla", "");
                });
        }

        function SaveTranscription() {

            // validate form.
            $('#CONTENT_Transcription_Form').validate({
                lang: 'it'
            });

            if ($('#CONTENT_Transcription_Form').valid()) {

                REFRESH_show("MODAL_Refresh");
                var url = '@Url.Action("SaveTranscription", "Book")';
                // take the form content by id.
                var data = new FormData($('#CONTENT_Transcription_Form').get(0));

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (risultato) {

                        $("#MODAL_ID").modal('toggle');
                        list();
                    },
                    error: function () {
                        // set error.
                        DANGER_function("Si è verificato un errore durante l'operazione", "Controllare i dati inseriti e riprovare", "", "", "", "OK");
                    }
                });
            }
        }

    </script>
}




